@keyframes slideInHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.primary-header {
    animation: 1s ease 0s 1 slideInHeader;
    height: 50px;
    background: #ffffff;
    width: 100%;
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);

    position: fixed;
    z-index: 10;
}

.header-container {
    display: grid;
    grid-template-columns: 130px auto 50px 50px;
    height: 50px;
}

.logo {
    display: block;
    height: 50px;
    padding: 8px 16px 8px 0px;
}

.logo-img {
    height: 100%;
}


.btn-bell {
    display: block;
    height: 100%;
    color: grey;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}

.btn-bell:hover {
    color: black;
}

.btn-bell::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0f3";
    font-size: 20px;
}

/*
menu
 */

.menu-wrp {
    display: inline-block;
    position: relative;
}

.menu-letter {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    font-size: 17px;
    color: white;
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 50%;
}

.menu-checker {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-checker:hover ~ .menu-letter {
    background: #00255E;
}

.menu-checker:checked ~ .menu-options {
    display: block;
}

.menu-options {
    width: 200px;
    display: none;
    position: absolute;
    right: 0;
    top: 50px;

    background: white;
    padding: 5px;
    box-shadow: 0 0 15px #777;

    font-size: 18px;
    font-weight: 500;
}

.menu-name {
    margin-top: 10px;
    padding-bottom: 5px;
    color: #777;
    border-bottom: 1px solid #777;
}

.menu-list li {
    margin: 3px 0px 3px 0;
    padding: 5px 0 5px 0;
}

.menu-list a {
    color: #222;
}

.menu-list li:hover {
    background: #DDD;
}


