/*
main
*/
.main-wrp {
    min-height: 100%;
    margin-bottom: -30px;
}

.main {
    padding-top: 100px;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    width: var(--main-width);
    height: var(--main-height);

    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr 0.7fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 0;
}

/*
Card common
*/
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    display: flex;
    justify-content: right;
    align-items: center;
}

.bottom-right-content {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}


.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.card-face-front {
    z-index: 1;
}

.card-face-back {
    z-index: 0;
    background: white;
    padding: 1vw;
    overflow: auto;
}

/*
Flip Animation
*/
.flip-animation {
    perspective: 800px;
    background-color: transparent;

}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-animation:hover .flip-card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-animation .card-face-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*
Bottom Animation
*/
.bottom-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.bottom-animation:hover .card-face-front {
    height: 0;
    font-size: 0;
    transition: height 0.4s, font-size 0.4s;
}

.bottom-animation .card-face-front {
    bottom: 0;
    transition: height 0.4s, font-size 0.4s;
}

/*
Top-right Animation
*/
.top-right-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.top-right-animation:hover .card-face-front {
    height: 0;
    width: 0;
    font-size: 0;
    transition: height 0.4s, width 0.4s, font-size 0.4s;
}

.top-right-animation .card-face-front {
    top: 0;
    right: 0;
    transition: height 0.4s, width 0.4s, font-size 0.4s;
}

/*
Bottom-right Animation
*/
.bottom-right-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.bottom-right-animation:hover .card-face-front {
    height: 0;
    width: 0;
    font-size: 0;
    transition: height 0.4s, width 0.4s, font-size 0.4s;
}

.bottom-right-animation .card-face-front {
    bottom: 0;
    right: 0;
    transition: height 0.4s, width 0.4s, font-size 0.4s;
}

/*
Right Animation
*/
.right-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.right-animation:hover .card-face-front {
    width: 0;
    font-size: 0;
    transition: width 0.4s, font-size 0.4s;
}

.right-animation .card-face-front {
    right: 0;
    transition: width 0.4s, font-size 0.4s;
}


.bsa-join .card-face-front {
    background: white;
}

.quality-assurance .card-face-front {
    background: #52BF77;
    font-weight: 500;
    color: white;
    font-size: 8vw;
}

.javascript .card-face-front {
    background: #F7CF69;
    font-weight: 600;
    color: black;
    font-size: 7vw;
}

.java .card-face-front {
    background: #E12B4C;
    font-weight: 500;
    color: white;
    font-size: 3vw;
}

.php .card-face-front {
    background: #8893BF;
    font-weight: 400;
    font-style: italic;
    color: black;
    font-size: 5vw;
}

.dot-net .card-face-front {
    background: #642077;
    font-weight: 500;
    color: white;
    font-size: 6vw;
}

.events .card-face-front {
    background: #2E99FE;
    font-weight: 400;
    color: white;
    font-size: 1.5vw;
}

.blog .card-face-front {
    background: #0343A3;
    font-weight: 400;
    color: white;
    font-size: 1.5vw;
}

.contacts .card-face-front {
    background: #00255E;
    font-weight: 500;
    color: white;
    font-size: 1.5vw;
}

.contacts-list li {
    margin: 3px;
    display: inline-block;
}

.contacts-list a {
    color: grey;
}

.contacts-list a:hover {
    color: black;
}


.quality-assurance .card-face-back,
.javascript .card-face-back,
.java .card-face-back,
.php .card-face-back,
.dot-net .card-face-back {
    font-weight: 600;
    font-size: 1.5vw;
}


.events .card-face-back,
.blog .card-face-back {
    font-weight: 300;
    font-size: 1.15vw;
}

.contacts .card-face-back {
    font-size: 2vw;
}


.bsa-join img {
    height: 30%;
}

.bsa-join .join-btn {
    padding: 12px 25px;
    color: white;
    font-weight: 500;
    background: #3CAEEF;
    border-radius: 3px;
}

.bsa-join .join-btn:hover {
    background: #2ba6e9;
}

/*
Positioning cards on grid
*/
.bsa-join {
    grid-row: 1/5;
    grid-column: 1/2;
}

.quality-assurance {
    grid-row: 5/9;
    grid-column: 1/2;
}

.javascript {
    grid-row: 1/7;
    grid-column: 2/3;
}

.java {
    grid-row: 7/9;
    grid-column: 2/3;
}

.php {
    grid-row: 1/4;
    grid-column: 3/5;
}

.dot-net {
    grid-row: 4/9;
    grid-column: 3/4;
}

.events {
    grid-row: 4/6;
    grid-column: 4/5;
}

.blog {
    grid-row: 6/8;
    grid-column: 4/5;
}

.contacts {
    grid-row: 8/9;
    grid-column: 4/5;
}

@media all and (max-width: 900px) {

    .main {
        grid-template-columns: 6fr repeat(8, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    .bsa-join {
        grid-row: 1/6;
        grid-column: 1/2;
    }

    .javascript {
        grid-row: 1/6;
        grid-column: 2/7;
    }

    .events {
        grid-column: 7/10;
        grid-row: 1/3;
    }

    .blog {
        grid-column: 7/10;
        grid-row: 3/5;
    }

    .contacts {
        grid-column: 7/10;
        grid-row: 5/6;
    }

    .java {
        grid-column: 1/3;
        grid-row: 6/8;
    }

    .php {
        grid-column: 3/10;
        grid-row: 6/8;
    }

    .quality-assurance {
        grid-column: 1/3;
        grid-row: 8/10;
    }

    .dot-net {
        grid-column: 3/10;
        grid-row: 8/10;
    }

    .events .card-face-back,
    .blog .card-face-back {
        font-size: 1.75vw;
    }

    .contacts .card-face-back {
        font-size: 3vw;
    }

    .quality-assurance .card-face-back,
    .javascript .card-face-back,
    .java .card-face-back,
    .php .card-face-back,
    .dot-net .card-face-back {
        font-weight: 600;
        font-size: 3vw;
    }

}