.notifications-wrp {
    z-index: 200;
    width: 300px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.notification {
    color: white;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 50px;
    border-radius: 10px;;
    margin: 5px;
    padding: 5px;
}

.error {
    background: red;
    opacity: 0.7;
}

.success {
    background: green;
    opacity: 0.7;
}

.warning {
    background: orange;
    opacity: 0.7;
}


.notification .right-content {
    display: block;
}

.notification h3 {
    font-weight: bold;
}

.notification h3,
.notification p {
    margin: 3px;
}
