:root {
    --side-margin: 10vw;
    --main-width: 80vw;
    --main-height: 45vw;
}

@media all and (max-width: 900px) {
    :root {
        --side-margin: 4vw;
        --main-width: 92vw;
        --main-height: 100vw;
    }
}